<nav>
  <a class="nav-logo" href="/HOMEPAGE/">
    <img
      class="nav-logo-img"
      src="/assets/images/fullgreatbros/fullgreatbroslogo.svg"
      width="148"
      height="40"
      alt="Full Great Bros"
    />
  </a>
  <ul class="nav-links">
    <li><a href="/FGSAUTO/">FG'S AUTO</a></li>
    <li><a href="/mediagallery/">FULL GREAT MEDIA</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
  <div class="nav-right">
    <a class="nav-cta" href="/contact/">Book Now</a>
  </div>
</nav>
